%p
= f.label :title, t(:title)
%p
= f.text_field :title
%p
= f.label :subtitle, t(:subtitle)
%p
= f.text_field :subtitle
%p
= f.label :description, t(:description)
%p
= f.text_area :description
%p
= f.label :published_at, t(:published_at)
= f.input :published_at, :as => :string, :input_html => { :class => 'jquery-ui-date'}