<div data-hook="admin_inside_news_form">
  <%= f.field_container :title do %>
    <%= f.label :title, t('post.title') %> <span class="required">*</span><br />
    <%= text_field :post,  :title %>
  <% end %>

  <%= f.field_container :subtitle do %>
    <%= f.label :subtitle, t('post.subtitle') %><br />
    <%= f.text_area :subtitle %>
  <% end %>

  <%= f.field_container :description do %>
    <%= f.label :description, t('post.description') %><br />
    <%= f.text_area :description %>
  <% end %>  

  <%= f.field_container :link do %>
    <%= f.label :link, t('post.link') %>
    <%= text_field :post, :link %>
  <% end %>

  <%= f.field_container :picture do %>
    <%= f.label :picture, t(:picture) %>
    <%= f.file_field :picture %>
  <% end %>

  <%= f.field_container :published_at do %>
    <%= f.label :published_at, t('post.published_at') %><br />
    <%= f.datetime_select :published_at %>
  <% end %>  

</div>