%p
= f.label :title, t('post.title')
%p
= f.text_field :title
%p
= f.label :subtitle, t('post.subtitle')
%p
= f.text_field :subtitle
%p
= f.label :description, t('post.description')
%p
= f.text_area :description
%p
= f.label :published_at, t('post.published_at')
%p
= f.datetime_select :published_at